.hero-section {
    display: flex;
    align-items: center;
    height: 80vh;
    background: #4682B4;
    background-size: cover;
    background-position: center;
    transform: translateY(100px);
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-out;
}

.hero-section.animate-up {
    transform: translateY(0);
    opacity: 1;
}

.hero-section .text-start {
    margin-right: 2rem;
}

.hero-section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #fff;
}

.hero-section p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #fff;
}

.hero-section .btn {
    padding: 0.75rem 2rem;
    font-size: 1.25rem;
    background: #36454F;
    color: #fff;
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

.hero-section .btn:hover {
    background: #fff;
    color: #004080;
}

.hero-image {
    width: 100%;
    height: auto;
}