.who-we-are-section {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 4rem;
  background-color: #f9f9f9;
  transform: translateY(70%);
  opacity: 0;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  line-height: 1.2;
}

.who-we-are-section.visible {
  transform: translateY(0);
  opacity: 1;
}

.section-title {
  margin-bottom: 3rem;
  position: relative;
}

.section-title h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.title-underline {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin: 1rem 0;
}

.section-title p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 3rem;
}


.section-title p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 3rem;
}

.who-we-are-section h3 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #222;
}

.who-we-are-section .fst-italic {
  color: #555;
}

.who-we-are-section img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.who-we-are-section .content {
  background: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.who-we-are-section .content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.who-we-are-section .content ul li {
  padding: 0 0 1rem 2rem;
  position: relative;
}

.who-we-are-section .content ul i {
  position: absolute;
  font-size: 1.25rem;
  left: 0;
  top: 0;
  color: #96DED1;
}

.who-we-are-section .content p:last-child {
  margin-bottom: 0;
  font-size: 1rem;
  color: #444;
}

.position-relative {
  position: relative;
}

.who-we-are-section.animate-section {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease;
}

